/*
.lol
{

float: left;
width: 100px;	
height: 105px;
border-radius: 3px;
margin: 30px 50px 20px 50px; 	
display: block;
background-color:#ddd;
box-shadow: 0px 10px 10px #eee;

}

.lol span
{
transition:0.1s;

margin-left: 5px;
margin-top: 5px;
position:relative;
text-align: center;
width: 100px;
display: block;
font-weight: bold;

font-size:12px;

margin-top:-50px; 

color: #fff;
background-color: transparent;


}


.lol img
{
transition:0.3s;
width:110px;
margin-left:2px; 
margin-top: 1px;

overflow: visible;
}



.lol:hover span{
transition:0.1s;
font-size: 14px;
width: 120px;
margin-top: -60px;
margin-left: 5px;

}




.lol:hover img{
transition:0.2s;
margin-left:5px;
width: 120px;
opacity: 0.9;

}

*/

.lol
{

float: left;
width: 100px;	
height: 105px;
border-radius: 3px;
margin: 30px 50px 20px 50px; 	
display: block;
background-color:#fff;
box-shadow: 0px 10px 10px #fff;

}

.lol span
{


margin-left: 8px;
margin-top: 5px;
position:relative;
text-align: center;
width: 100px;
display: block;
font-weight: bold;

font-size:12px;

margin-top:0px; 

color: #333;
background-color: transparent;


}


.lol img
{
transition:0.3s;
width:110px;
margin-left:2px; 
margin-top: 1px;

overflow: visible;
}


.lol:hover span{

font-size: 12px;


margin-left: 18px;
margin-top: 5px;

}




.lol:hover img{
transition:0.2s;
margin-left:5px;
width: 125px;
opacity: 0.9;

}
